
html{
	background-color: teal;
}

form{
	margin:20px;
	border-style: solid;
	width: 735px;
	border-radius: 20px;
	padding-left: 10px;
	align-content: center;
	padding-bottom: 15px;
	background-color: gray;
	padding-top: 15px
}

.burse{
	border-style: solid;
}

.f1{
	margin:20px;
	border-style: solid;
	width: 735px;
	border-radius: 20px;
	padding-right:10px;
	padding-left: 10px;
	align-content: center;
	padding-bottom: 15px;
	background-color: grey;
	padding-top: 15px
}

#sp{
	padding-left: 10px;
}

#title{
	text-align: center;
}

.earth_svg {
    height: 200px;
    width: auto;
    margin-left: 300px;
    /* Your animation here
    /* Set up your keyframe animation here */
    animation: spin infinite linear 0s;
}

  @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}

}

.list{
	background-color:silver;
}